
#compareButton
{
    -fx-background-color:
            #679178,
            linear-gradient( #679178 0%,  #679178 20%,  #679178 100%),
            linear-gradient( #679178, #679178),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

#incomeButton
{
    -fx-background-color:
            #679178,
            linear-gradient( #679178 0%,  #679178 20%,  #679178 100%),
            linear-gradient( #679178, #679178),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

#bckPane
{
    -fx-background-color: #cccccc;
}




