<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<head>
</head>
<div class="container-fluid" href='/'>
   <div class="title">
      <div class="col-sm-12">
         <h1><strong>About EcoBikes</strong></h1>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12 col-md-4">
         <p>We at EcoBikes think travelling is a burden to everyday life. So to help with this, we offer a source of transportation at a cheap and resonable price.</p>
      </div>
      <div class="col-sm-12 col-md-8">
         <!-- <img class='bikeImg' src='../static/bike.jpeg'> -->
      </div>
   </div>
   <div class="row"></div>
   <div class="row">
   </div>
   <hr>
   <div class="bikesclass" href='#bike'>
      <div class="col-sm-12">
         Felis pretium odio; placerat per ligula. Lacinia dolor sem mollis cubilia iaculis porttitor. Consectetur faucibus feugiat non mi venenatis morbi pellentesque ullamcorper diam. Mattis parturient elit sollicitudin himenaeos suspendisse nullam fermentum ad. Consectetur lacinia viverra fringilla cras, interdum facilisis eget. Convallis netus morbi nisl aptent dictum non mauris habitant velit metus dui enim. Justo nisl risus ullamcorper dui vestibulum, viverra suscipit dui curae; tincidunt id lobortis. Nunc cubilia enim malesuada cras pretium, tempor at commodo primis faucibus. Sapien sem leo amet tortor augue mollis. Integer ut, mi varius porttitor mauris vehicula sit? Accumsan egestas convallis luctus orci.
      </div>
   </div>
   <hr>
   <!-- social media stuff -->
   <div class="locationsclass" href=#loc>
      <iframe class="mapclass" src="https://www.google.com/maps/d/u/1/embed?mid=1Q_jpSBPW5daf1oFSRpEDh0qAc-67QKYq" width="640" height="480"></iframe>
      <a class="twitter-timeline" data-width="640" data-height="480" data-link-color="#19CF86" href="https://twitter.com/InBikes?ref_src=twsrc%5Etfw">Tweets by InBikes</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
   </div>
</div>
<body>
   <h2>Enter your email to send a reciept</h2>
   <form action="mailto:someone@example.com" method="post" enctype="text/plain">
      Name:<br>
      <input type="text" name="name"><br>
      E-mail:<br>
      <input type="text" name="mail"><br>
      Comment:<br>
      <input type="text" name="comment" size="50"><br><br>
      <input type="submit" value="Send">
      <input type="reset" value="Reset">
   </form>
</body>
{% endblock %}
