<!DOCTYPE html>
<html>

   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <script src="../static/scripts.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      <script type="text/javascript" src="{{ url_for('static', filename='validate.js') }}" ></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='availability.js') }}" ></script>
      <script type="text/javascript" src="{{ url_for('static', filename='mapstuff.js') }}" ></script>
      <title>EcoBikes</title>
   </head>
   <nav class="navbar navbar-dark sticky-top" style="background-color: #67917A">
      <!-- <a class="navbar-brand" href="/">EcoBikes</a> -->
      <a href="/">
      <img style="height: 80px; width: 200px; float: left; padding-top: 10px;" href="/" src="../static/logo.png">
      </a>
      <ul class="nav nav-pills">
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu dropdown-menu-right">
            <!--IF A USER IS LOGGED IN, DISPLAY THIS -->
            <a class="dropdown-item" href="/CreateAnAccount">Create An Account</a>
            {% if user %}
            <a class="dropdown-item" href="/Login">{{ user }}</a>
            {% else %}
            <a class="dropdown-item" href="/Login">Login</a>
            <a class="dropdown-item" href="/TransactionHistory">Your Transaction History</a>
            {% endif %}
         </li>
      </ul>
   </nav>
   <body>
      {% block content %} {% endblock %}
      <div class="row" id="footer" style=" padding: 20px; box-shadow: inset 0 8px 10px -6px black; padding-top: 20px; background-color: #67917A; position: fixed; margin-bottom: 0px; bottom: 0px; width: 100%;">
         <div class="col-sm-1">
         </div>
         <div class="col-sm-10" style="text-align: center;">
            <a style="color: white; font-size: 18px;">Contact us at ecobikesinleeds@gmail.com &nbsp;</a>
            <a href="https://twitter.com/InBikes" style=" color: white; font-size: 18px;"><i class="fab fa-twitter-square"></i> @InBikes</a>
         </div>
         <div class="col-sm-1">
         </div>
      </div>
   </body>

</html>
