<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="card" id="register">
            <div class="card-body">
               <h1 class="my-4">Register</h1>
               <form method="post" name="form">
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                     <label for="exampleFormControlInput1">Username: (5-12 characters)</label>
                     {{ form.username(class="form-control",id="username") }}
                  </div>
                  <div class="form-group">
                     <label for="exampleFormControlInput1">Email:</label>
                     {{ form.email(class="form-control",id="email") }}
                  </div>
                  <div class="form-group">
                     <label for="exampleFormControlTextarea1">Password: (5-12 characters)</label>
                     {{ form.password(class="form-control",id="passone", type="password") }}
                  </div>
                  <div class="form-group">
                     <label for="exampleInputPassword1">Re-enter password:</label>
                     <input type="password" class="form-control" id="passtwo">
                  </div>
                  <button class="btn btn-secondary sub btn-look" type="button">Create Account</button>
               </form>
               <br>
               <div class="alert alert-danger">
               </div>
               <hr>
               <h2 class="my-4">
               Existing User?</h1>
               <a class="btn btn-secondary btn-look" type="s" href="/Login">Login</a>
            </div>
          </div>
        </div>
      </div>
   </div>
</div>
{% endblock %}
