<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<body>
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <img class="d-block w-100" src="../static/slider1.jpg" alt="First slide">
                     <div class="carousel-caption d-none d-md-block" style="font-family: Verdana,Geneva,sans-serif;">
                        <h2>Eco-friendly travel at affordable prices!</h2>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../static/slider2.jpg" alt="Second slide">
                     <div class="carousel-caption d-none d-md-block" style="font-family: Verdana,Geneva,sans-serif;">
                        <h2>Easy pick-up and drop off to multiple easily accessible locations!</h2>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../static/slider3.jpeg" alt="Third slide">
                     <div class="carousel-caption d-none d-md-block" style="font-family: Verdana,Geneva,sans-serif;">
                        <h2>Get moving with EcoBikes!</h2>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" style="font-size: 18px;">
         <div class="col-sm-12 col-md-4">
            <div class="fa-4x informationLinkLeft">
               <span class="fa-stack fa-2x" onclick="tabOpen(event, 'book')">
               <i class="fas fa-circle fa-stack-2x" style="color: #97b5a4;"></i>
               <i class="fab fas fa-bicycle fa-stack-1x fa-inverse"></i>
               </span>
               <h2 class="informationText" style="font-family: Verdana,Geneva,sans-serif;" >Book out a bike</h2>
            </div>
         </div>
         <div class="col-sm-12 col-md-4">
            <div class="fa-4x informationLinks">
               <span class="fa-stack fa-2x" onclick="tabOpen(event, 'location')">
               <i class="fas fa-circle fa-stack-2x" style="color: #97b5a4;"></i>
               <i class="fab fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
               </span>
               <h2 class="informationText" style="font-family: Verdana,Geneva,sans-serif;" >Discover locations </h2>
            </div>
         </div>
         <div class="col-sm-12 col-md-4">
            <div class="fa-4x informationLinkRight">
               <span class="fa-stack fa-2x" onclick="tabOpen(event, 'about')">
               <i class="fas fa-circle fa-stack-2x" style="color: #97b5a4;"></i>
               <i class="fab fas fa-info fa-stack-1x fa-inverse"></i>
               </span>
               <h2 class="informationText" style="font-family: Verdana,Geneva,sans-serif;">About us</h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div id="book" class="tabcontent">
               <form>
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="card" id="book-bike">
                              <div class="card-body">
                                 <h1 class="my-4">Bike Rental Form</h1>
               <form method="post">
               <div class="form-group">
               <label for="example-date-input">Pickup Date</label>
               <input class="form-control" type="date" value="2011-08-19" id="dropoffDateInput">
               </div>
               <div class="form-group">
               <label for="exampleFormControlTextarea1">Pickup Time:</label>
               <select class="form-control pickup-time" id="pickupTimeOptions"> <!-- CLEAN UP INC JS -->
               <option class="pickup-option">00:00</option>
               <option class="pickup-option">00:15</option>
               <option class="pickup-option">00:30</option>
               <option class="pickup-option">00:45</option>
               <option class="pickup-option">01:00</option>
               <option class="pickup-option">01:15</option>
               <option class="pickup-option">01:30</option>
               <option class="pickup-option">01:45</option>
               <option class="pickup-option">02:00</option>
               <option class="pickup-option">02:15</option>
               <option class="pickup-option">02:30</option>
               <option class="pickup-option">02:45</option>
               <option class="pickup-option">03:00</option>
               <option class="pickup-option">03:15</option>
               <option class="pickup-option">03:30</option>
               <option class="pickup-option">03:45</option>
               <option class="pickup-option">04:00</option>
               <option class="pickup-option">04:15</option>
               <option class="pickup-option">04:30</option>
               <option class="pickup-option">04:45</option>
               <option class="pickup-option">05:00</option>
               <option class="pickup-option">05:15</option>
               <option class="pickup-option">05:30</option>
               <option class="pickup-option">05:45</option>
               <option class="pickup-option">06:00</option>
               <option class="pickup-option">06:15</option>
               <option class="pickup-option">06:30</option>
               <option class="pickup-option">06:45</option>
               <option class="pickup-option">07:00</option>
               <option class="pickup-option">07:15</option>
               <option class="pickup-option">07:30</option>
               <option class="pickup-option">07:45</option>
               <option class="pickup-option">08:00</option>
               <option class="pickup-option">08:15</option>
               <option class="pickup-option">08:30</option>
               <option class="pickup-option">08:45</option>
               <option class="pickup-option">09:00</option>
               <option class="pickup-option">09:15</option>
               <option class="pickup-option">09:30</option>
               <option class="pickup-option">09:45</option>
               <option class="pickup-option">10:00</option>
               <option class="pickup-option">10:15</option>
               <option class="pickup-option">10:30</option>
               <option class="pickup-option">10:45</option>
               <option class="pickup-option">11:00</option>
               <option class="pickup-option">11:15</option>
               <option class="pickup-option">11:30</option>
               <option class="pickup-option">11:45</option>
               <option class="pickup-option">12:00</option>
               <option class="pickup-option">12:15</option>
               <option class="pickup-option">12:30</option>
               <option class="pickup-option">12:45</option>
               <option class="pickup-option">13:00</option>
               <option class="pickup-option">13:15</option>
               <option class="pickup-option">13:30</option>
               <option class="pickup-option">13:45</option>
               <option class="pickup-option">14:00</option>
               <option class="pickup-option">14:15</option>
               <option class="pickup-option">14:30</option>
               <option class="pickup-option">14:45</option>
               <option class="pickup-option">15:00</option>
               <option class="pickup-option">15:15</option>
               <option class="pickup-option">15:30</option>
               <option class="pickup-option">15:45</option>
               <option class="pickup-option">16:00</option>
               <option class="pickup-option">16:15</option>
               <option class="pickup-option">16:30</option>
               <option class="pickup-option">16:45</option>
               <option class="pickup-option">17:00</option>
               <option class="pickup-option">17:15</option>
               <option class="pickup-option">17:30</option>
               <option class="pickup-option">17:45</option>
               <option class="pickup-option">18:00</option>
               <option class="pickup-option">18:15</option>
               <option class="pickup-option">18:30</option>
               <option class="pickup-option">18:45</option>
               <option class="pickup-option">19:00</option>
               <option class="pickup-option">19:15</option>
               <option class="pickup-option">19:30</option>
               <option class="pickup-option">19:45</option>
               <option class="pickup-option">20:00</option>
               <option class="pickup-option">20:15</option>
               <option class="pickup-option">20:30</option>
               <option class="pickup-option">20:45</option>
               <option class="pickup-option">21:00</option>
               <option class="pickup-option">21:15</option>
               <option class="pickup-option">21:30</option>
               <option class="pickup-option">21:45</option>
               <option class="pickup-option">22:00</option>
               <option class="pickup-option">22:15</option>
               <option class="pickup-option">22:30</option>
               <option class="pickup-option">22:45</option>
               <option class="pickup-option">23:00</option>
               <option class="pickup-option">23:15</option>
               <option class="pickup-option">23:30</option>
               <option class="pickup-option">23:45</option>
               </select>
               </div>
               <div class="form-group">
               <label for="exampleFormControlInput1">Pickup Location:</label>
               <label for="exampleFormControlInput1">If you would like to see where these locations are, head on over to the locations page:</label>
               <select class="form-control pickup-loc" id="locationPickupOptions">
               <option id="startOption">Select a date and time of pickup to show possible locations</option>
               </select>
               </div>
               <div class="form-group">
               <label for="example-date-input">Dropoff Date</label>
               <input class="form-control" type="date" value="2011-08-19" id="dropoffDateInput">
               </div>
               <div class="form-group">
               <label for="exampleFormControlTextarea1">Dropoff Time:</label>
               <select class="form-control dropoff-time" id="dropoffTimeOptions">
               <option>00:00</option>
               <option>00:15</option>
               <option>00:30</option>
               <option>00:45</option>
               <option>01:00</option>
               <option>01:15</option>
               <option>01:30</option>
               <option>01:45</option>
               <option>02:00</option>
               <option>02:15</option>
               <option>02:30</option>
               <option>02:45</option>
               <option>03:00</option>
               <option>03:15</option>
               <option>03:30</option>
               <option>03:45</option>
               <option>04:00</option>
               <option>04:15</option>
               <option>04:30</option>
               <option>04:45</option>
               <option>05:00</option>
               <option>05:15</option>
               <option>05:30</option>
               <option>05:45</option>
               <option>06:00</option>
               <option>06:15</option>
               <option>06:30</option>
               <option>06:45</option>
               <option>07:00</option>
               <option>07:15</option>
               <option>07:30</option>
               <option>07:45</option>
               <option>08:00</option>
               <option>08:15</option>
               <option>08:30</option>
               <option>08:45</option>
               <option>09:00</option>
               <option>09:15</option>
               <option>09:30</option>
               <option>09:45</option>
               <option>10:00</option>
               <option>10:15</option>
               <option>10:30</option>
               <option>10:45</option>
               <option>11:00</option>
               <option>11:15</option>
               <option>11:30</option>
               <option>11:45</option>
               <option>12:00</option>
               <option>12:15</option>
               <option>12:30</option>
               <option>12:45</option>
               <option>13:00</option>
               <option>13:15</option>
               <option>13:30</option>
               <option>13:45</option>
               <option>14:00</option>
               <option>14:15</option>
               <option>14:30</option>
               <option>14:45</option>
               <option>15:00</option>
               <option>15:15</option>
               <option>15:30</option>
               <option>15:45</option>
               <option>16:00</option>
               <option>16:15</option>
               <option>16:30</option>
               <option>16:45</option>
               <option>17:00</option>
               <option>17:15</option>
               <option>17:30</option>
               <option>17:45</option>
               <option>18:00</option>
               <option>18:15</option>
               <option>18:30</option>
               <option>18:45</option>
               <option>19:00</option>
               <option>19:15</option>
               <option>19:30</option>
               <option>19:45</option>
               <option>20:00</option>
               <option>20:15</option>
               <option>20:30</option>
               <option>20:45</option>
               <option>21:00</option>
               <option>21:15</option>
               <option>21:30</option>
               <option>21:45</option>
               <option>22:00</option>
               <option>22:15</option>
               <option>22:30</option>
               <option>22:45</option>
               <option>23:00</option>
               <option>23:15</option>
               <option>23:30</option>
               <option>23:45</option>
               </select>
               </div>
               <div class="form-group">
               <label for="exampleFormControlInput1">Dropoff Location:</label>
               <label for="exampleFormControlInput1">(If you would like to see where these locations are, head on over to the locations page)</label>
               <select class="form-control dropoff-loc" id="locationDropoffOptions">
               <option>Select a date and time of dropff to show possible locations</option>
               </select>
               </div>
               <hr>
               <form name="form">
               <a type="submit" class="btn btn-secondary btn-look btn-send">Make A Booking!</a>
               </form>
               </form>
               </div>
               </div>
               </div>
               </div>
               </div>
            </div>
            <div id="location" class="tabcontent">
               <h3 style="font-family: Verdana,Geneva,sans-serif;" >Checkout our locations</h3>
               <center><iframe src="https://www.google.com/maps/d/embed?mid=1YN5NrRzmXwLILvY7I5Iv3MCa3pFF8-AM" width="100%" height="480"></iframe></center>
            </div>
            <div id="about" class="tabcontent">
               <h3 style="font-family: Verdana,Geneva,sans-serif;">More about us</h3>
               <div class="row">
                  <div class="col-sm-7">
                     <p style="font-family: Verdana,Geneva,sans-serif;" >EcoBikes was established in 2019 by six students for a university project.</p>
                     <p style="font-family: Verdana, Geneva, sans-serif;" > We at EcoBikes think travelling is a burden to everyday life. So to help with this, we offer a source of transportation at a cheap and resonable price. We have built up 10 different locations all across Leeds city centre and Headingley to help accomodate everyone from the average person to professional cyclists. </p>
                  </div>
                  <div class="col-sm-5">
                     <img id="groupPhoto" class="d-block w-100" src="../static/groupphoto.JPG">
                  </div>
               </div>
            </div>
            <div class="popup">
               <span class="popuptext" id="myPopup"><i class="fas fa-angle-double-down"></i></span>
            </div>
         </div>
      </div>
   </div>
   <script type="text/javascript" src="{{ url_for('static', filename='getlocations.js') }}" ></script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7n2GrD5JBF2yDEKuOb_uMAC4G-ByjHgQ&callback=initMap"></script>
</body>

{% endblock %}
