<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="card" id="login">
            <div class="card-body">
               <h1 class="my-4">Login</h1>
               <form method="post">
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                     <label for="exampleFormControlInput1">Username:</label>
                     {{ form.username(class="form-control",id="exampleFormControlInput1") }}
                  </div>
                  <div class="form-group">
                     <label for="exampleFormControlTextarea1">Password:</label>
                     {{ form.password(class="form-control",id="exampleFormControlInput1", type="password") }}
                  </div>
                  <button type="submit" class="btn btn-secondary btn-look">Login</button>
                  <div class="form-group">
                    <br/>
                    <br/>
                    <hr>
                    <h2 class="my-4">New User?</h2>
                    <a class="btn btn-secondary btn-look" type="s" href="/CreateAnAccount">Register</a>
                  </div>
               </form>
            </div>
          </div>
        </div>
      </div>
   </div>
</div>
{% endblock %}
