<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<body>
   <div class="container-fluid">
      <div class="row slider">
         <div class="col-sm-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <img class="d-block w-100" src="../static/slider1.jpg" alt="First slide">
                     <div class="carousel-caption d-none d-md-block" style="font-family: Verdana,Geneva,sans-serif;">
                        <h2>Eco-friendly travel at affordable prices!</h2>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../static/slider2.jpg" alt="Second slide">
                     <div class="carousel-caption d-none d-md-block" style="font-family: Verdana,Geneva,sans-serif;">
                        <h2>Easy pick-up and drop off to multiple easily accessible locations!</h2>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../static/slider3.jpeg" alt="Third slide">
                     <div class="carousel-caption d-none d-md-block" style="font-family: Verdana,Geneva,sans-serif;">
                        <h2>Get moving with EcoBikes!</h2>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" style="font-size: 18px;">
         <div class="col-sm-12 col-md-4">
            <div class="fa-4x informationLinkLeft">
               <span class="fa-stack fa-2x" onclick="tabOpen(event, 'book')">
               <i class="fas fa-circle fa-stack-2x" style="color: #97b5a4;"></i>
               <i class="fab fas fa-bicycle fa-stack-1x fa-inverse"></i>
               </span>
               <h2 class="informationText" style="font-family: Verdana,Geneva,sans-serif;" >Book out a bike</h2>
            </div>
         </div>
         <div class="col-sm-12 col-md-4">
            <div class="fa-4x informationLinks">
               <span class="fa-stack fa-2x" onclick="tabOpen(event, 'location')">
               <i class="fas fa-circle fa-stack-2x" style="color: #97b5a4;"></i>
               <i class="fab fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
               </span>
               <h2 class="informationText" style="font-family: Verdana,Geneva,sans-serif;" >Discover locations </h2>
            </div>
         </div>
         <div class="col-sm-12 col-md-4">
            <div class="fa-4x informationLinkRight">
               <span class="fa-stack fa-2x" onclick="tabOpen(event, 'about')">
               <i class="fas fa-circle fa-stack-2x" style="color: #97b5a4;"></i>
               <i class="fab fas fa-info fa-stack-1x fa-inverse"></i>
               </span>
               <h2 class="informationText" style="font-family: Verdana,Geneva,sans-serif;">About us</h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div id="book" class="tabcontent">
               <form>
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="card" id="book-bike">
                              <div class="card-body">
                                 <h1 class="my-4 centre">Start your journey here..</h1>
               <form method="post">
               <div class="form-group">
               <label for="example-date-input">Pickup Date</label>
               <input class="form-control pickup-date" type="date" value="2011-08-19" id="pickupDateInput">
               </div>
               <div class="form-group">
               <label for="exampleFormControlTextarea1">Pickup Time:</label>
               <div>
               <input type="time" class="pickup-time" id="pickupTimeOptions" step="900">
               </div>
               </div>
               <div class="forn-group">
               <label for="exampleFormControlInput1" id="pickup">Pickup Location:</label>
               <div class="map" id="map-two"></div>
               </div>
               <div class="form-group collapsed">
               <label for="example-date-input">Dropoff Date</label>
               <input class="form-control dropoff-date" type="date" value="2011-08-19" id="dropoffDateInput">
               </div>
               <div class="form-group collapsed">
               <label for="exampleFormControlTextarea1">Dropoff Time:</label>
               <div>
               <input type="time" class="dropoff-time" id="dropoffTimeOptions" step="900">
               </div>
               </div>
               <div class="form-group collapsed">
               <div class="forn-group">
               <label for="exampleFormControlInput1" id="pickup">Dropoff Location:</label>
               <div class="map" id="map-three"></div>
               </div>
               </div>
               <hr>
               <form name="form">
               <a type="submit" class="btn collapsed-two btn-secondary btn-look btn-send">Make A Booking!</a>
               </form>
               </form>
               </div>
               </div>
               </div>
               </div>
               </div>
            </div>
            <div id="location" class="tabcontent">
               <h3 style="font-family: Verdana,Geneva,sans-serif;" >Checkout our locations</h3>
               <div id="map"></div>
            </div>
            <div id="about" class="tabcontent">
               <h3 style="font-family: Verdana,Geneva,sans-serif;">A brief history on EcoBikes</h3>
               <div class="row">
                  <div class="col-sm-7">
                     <p style="font-family: Verdana,Geneva,sans-serif;" >EcoBikes was established in 2019 by six Leeds University computer science students. They had a mission to make an easy to use web application which allowed customers to hire bikes in multiple locations throughout Leeds. The result is what you are seeing in front of you.</p>
                  </div>
                  <div class="col-sm-5">
                     <img style="width: 100%; height=480px;" src="../static/groupphoto.JPG">
                  </div>
               </div>
            </div>
            <div class="popup">
               <span class="popuptext" id="myPopup"><i class="fas fa-angle-double-down"></i></span>
            </div>
         </div>
      </div>
   </div>
   <script type="text/javascript" src="{{ url_for('static', filename='getlocations.js') }}" ></script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7n2GrD5JBF2yDEKuOb_uMAC4G-ByjHgQ&callback=initMap"></script>
</body>
{% endblock %}
