<!DOCTYPE HTML>
{% extends "base.html" %}
{% block content %}
<head>
<form>
  <div class="container">
    <div class="row" style="margin-top: 15px;">
      <div class="col-md-5 col-sm-12">
        <div class="card" id="paymentcard">
          <div class="card-body">
            <h2>Payment details</h2>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="exampleFormControlInput1">Name On Card:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
              </div>
            </div>
            <form method="post" action='/Payment'>
              {{ form.hidden_tag() }}
              <label for="exampleFormControlInput1">Card number (xxxx-xxxx-xxxx-xxxx):</label>
              {{ form.card_number(class="form-control",id="exampleFormControlInput1") }}
              <label for="exampleFormControlInput1">Card number (xxx):</label>
              {{ form.cvv(class="form-control",id="exampleFormControlInput1") }}
              <label for="exampleFormControlInput1">Card number (xx/xx):</label>
              {{ form.expiry_date(class="form-control",id="exampleFormControlInput1") }}
              <a type="submit" class="btn btn-secondary btn-look" href='/Email'>Make Payment</a>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h2>Booking details</h2>
            {% if locationOut %}
            <p>Pickup location: <strong>{{ locationOut }}</strong></p>
            <p>Pickup date and time: <strong>{{ dateOut }}</strong></p>
            <hr>
            <p>Dropoff location: <strong>{{ locationIn }}</strong></p>
            <p>Dropoff date and time: <strong>{{ dateIn }}</strong></p>
            <hr>
            {% if discountprice > 0 %}
            <p>Cost: <strong>£{{ cost }}</strong></p>
            <p>Discounted Cost: <strong>£{{ discountprice }}</strong></p>
            {% else %}
            <p>Cost: <strong>£{{ cost }}</strong></p>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>


</form>

</head>
{% endblock %}
