<!DOCTYPE HTML>
{% extends "base.html" %}
{% block content %}
<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="card" id="register">
            <div class="card-body">
               <h1>Current Bookings</h1>
               <table class = "table">
                  <thead>
                     <tr>
                        <th scope="col">Booking ID</th>
                        <th scope="col">Date and Time Taken Out</th>
                        <th scope="col">Date and Time Returned</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for booking in currentBookings %}
                     <tr>
                       <td>{{booking.bookingID}}</td>
                       <td>{{booking.dateOut}}</td>
                       <td>{{booking.dateIn}}</td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               <h1>Past Bookings</h1>
               <table class = "table">
                  <thead>
                     <tr>
                        <th scope="col">Booking ID</th>
                        <th scope="col">Date and Time Taken Out</th>
                        <th scope="col">Date and Time Returned</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for booking in pastBookings %}
                      <tr>
                       <td>{{booking.bookingID}}</td>
                       <td>{{booking.dateOut}}</td>
                       <td>{{booking.dateIn}}</td>
                      </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
