body {
  background-color: #e9e6e1;
  font-family: Arial;
}

#centre {   //clean
  margin: 0 auto;
}

.centre {
  margin: 0 auto;
}

#map {
  height: 480px;  /*change from abs values !*/
  width: 100%;
 }

 .map {
   height: 480px;  /*change from abs values !*/
   width: 100%;
  }

div.title{
  text-align: center;
  font-weight: 300;
  font-size: 40px;
}

.nav-link {
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav-link.dropdown-toggle {
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav-link:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: white;
  color: black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav-pills .nav-link.active, .nav-pills .open > .nav-link {
  background-color: white;
  color: black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.navbar-brand {
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  margin-left: 2%;
}

#login {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60%;
}
#paymentcard {
  margin-bottom: 15px;
}

#register {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 60%;
}

.btn-look {
  background-color: #67917A;
  margin-bottom: 15px;
}

.btn-look {
  float: left;
}

.tabcontent {
  animation: fadeEffect 1s;
  display: none;
  padding: 6px 12px;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.informationLinks {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.informationLinkLeft {
  display: table;
  margin-left: auto;
  margin-top: 60px;
}

.informationLinkRight {
  display: table;
  margin-right: auto;
  margin-top: 60px;
}

.informationText {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.container-fluid {
  padding: 0px;
}

.popup {
 float: right;
 display: block;
 cursor: pointer;
}

.popup .popuptext {
 visibility: hidden;
 width: 55px;
 background-color: #555;
 color: #fff;
 text-align: center;
 border-radius: 6px;
 padding: 8px 0;
 position: absolute;
 z-index: 1;
 bottom: 125%;
 margin-left: -80px;
}

.popup .popuptext::after {
 content: "";
 float: right;
 border-width: 2px;
 border-style: solid;
 border-color: #555 transparent transparent transparent;
}

.popup .show {
 visibility: visible;
 -webkit-animation: fadeIn 1s;
 animation: fadeIn 1s
}

.popup .hide {
 visibility: hidden;
 -webkit-animation: fadeOut 1s;
 animation: fadeOut 1s
}

@-webkit-keyframes fadeIn {
 from {opacity: 0;}
 to {opacity: 1;}
}

@keyframes fadeIn {
 from {opacity: 0;}
 to {opacity:1 ;}
}

@-webkit-keyframes fadeOut {
 from {opacity: 1;}
 to {opacity: 0;}
}

@keyframes fadeOut {
 from {opacity: 1;}
 to {opacity:0 ;}
}

#groupPhoto {
  margin-bottom: 10%;
}

#book-bike {
  margin-bottom: 10%;
}

#map {
  width: 100%;
  margin-bottom: 10%;
}

#about {
  margin-bottom: 5%;
}

.row {
  margin: 0px;
  padding: 0px;
}
.row.slider {
  padding: 0px;
}

@media screen and (max-width: 870px) {
  #footer {
    display: none;
  }

  #book-bike {
    width: 100%;
  }

  .navbar {
    width: 100%;
    left: 0px;
    right: 0px;
  }

  .slider {
    display: none;
  }

  .map {
    width: 100%;
  }

  .informationLinks {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .informationLinkLeft {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .informationLinkRight {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
